@import '../../style/_variables.scss';

.CookieBar {
}

.barWrapper {
  .settings {
    margin-top: 16px;
  }

  .switch {
    margin-left: 6px;
  }

  h3 {
    margin-bottom: 8px;
  }
  
  .body {
    margin-bottom: 16px;
  }

  .row {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: stretch;

    >div:not(:last-of-type) {
      margin-bottom: 8px;
    }

    button {
      width: 100%;
    }
    
    &.desktop {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}
