@import '../../style/_variables.scss';

.Button {
  a {
    display: block;
    color: $white;
    font-size: 16px;
    letter-spacing: 1.92px;
    font-weight: $med;
    text-decoration: none;
    padding: 14px 40px;
  }

  button {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: $white;
    font-family: 'Baloo 2';
    font-weight: normal;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    font-size: 100%;
    overflow: visible;
    margin: 0 0 0 0;
    text-transform: uppercase;
    border: 2px solid $white;
    font-size: 16px;
    letter-spacing: 1.92px;
    font-weight: $med;
    opacity: 1;
    transition: all $short ease-in;
    border-radius: $border;
    padding: 0;

    &:focus {
      outline: 0;
    }

    &:hover {
      border: 2px solid rgba(255,255,255,$op);
    }

    button::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  &.round {
    transition: all 120ms ease-out;

    button {
      border-radius: 200px;
      border: 2px solid $black;
      color: $black;
      text-transform: none;
      padding: $padXXS;
      @include filterbutton;

      &:hover {
        border: 2px solid rgba(0,0,0,0.3);
      }
    }
  }

  &.invert {
    button {
      border: 2px solid $secondary;
      background-color: $secondary;
      color: $white;

      &:hover {
        background-color: rgba(167,154,135,$op);
      }
    }
  }

  &.black {
    a {
      color: $black;
    }

    button {
      border: 2px solid $black;
      background-color: transparent;
      color: $black;

      &:hover {
        border: 2px solid rgba(0,0,0,0.3);
      }
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
