@import "../../style/_variables.scss";

.Logos {
  pointer-events: all;
  opacity: 1;
  transition: opacity $short ease-out;

  &:hover {
    opacity: $op;
  }

  &.openMenu {
    pointer-events: none;
    opacity: 0;
  }

  .logo {
    position: relative;
  }

  .logoLoopWrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  a  {
    display: flex;
    font-display: row;
    text-decoration: none;
    padding: $padXXS;
    background-color: $primary;

    @media (min-width: 600px) {
      padding: $padXXS;
      margin: $padXS;
    }
  }

  .flower {
    width: 50px;
    display: block;

    @media (min-width: 600px) {
      width: 56px;
    }
  }
}

.herbie {
  display: block;
  width: auto;
  height: 56px;
}
